@model HierarchicalRepresentation.ViewModels.EditEntityViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Edit" asp-controller="Entity" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="id-edit" class="form-label">Id</label>
                    <input asp-for="Id" type="text" class="form-control" id="id-edit" readonly>
                </div>
                <div class="mb-3">
                    <label for="name-edit" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="name-edit">
                </div>
                <div class="mb-3">
                    <label for="icon-edit" class="form-label">Icon</label>
                    <input asp-for="Icon" type="text" class="form-control" id="icon-edit">
                    <div id="iconHelp" class="text">
                        <a href="https://remixicon.com/" target="_blank" rel="noopener noreferrer">Click here to get an icon html-code</a>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="parentId-edit" class="form-label">ParentId</label>
                    <input asp-for="ParentId" type="text" class="form-control" id="parentId-edit" readonly>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abort</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>